<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{ site.name }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{keywords}}" />
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta property="og:title" content="{{site.name}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{site.ogpImage}}" />
    <meta property="og:url" content="{{ogpUrl}}" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="/assets/common/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/scripts/main.js" />
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
